extends base
include mixins/video

block content
    if messages.error
            +message("error", messages.error)
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found 