extends ../base

block content 
    if messages.error
            +message("error", messages.error)
    //- 파일을 업로드 하기 위해 form 안에 enctype="multipart/form-data을 선언!
    form(method="post")
        input(placeholder="Old Password",type="password", name="oldPassword")
        input(placeholder="New Password",type="password", name="newPassword")
        input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
        input(value="Change Password", type="submit")