extends ../base

block content 
    form(method="POSt")
        input(placeholder="Old Password")
        input(placeholder="New Password")
        input(placeholder="New Password Confirm")
        input(type="submit", value="Change Password")